body {
  font-family: Georgia, serif;
  background: #8b4c30 url("body_bg_tile.jpg");
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 1024px;
}
pre,
code,
.ace_editor {
  font-family: 'Ubuntu Mono', Monaco, Consolas, monospace !important;
  font-size: 16px !important;
}
img {
  border: none;
}
.wrapper {
  background: url("top_bg_tile.png") repeat-x;
  min-height: 1047px;
}
.section {
  clear: left;
  width: 998px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  vertical-align: top;
}
.main-column {
  padding: 20px 50px 20px 100px;
  width: 572px;
/* 722px wide */
}
.side-column {
  float: right;
  width: 236px;
/*276px wide*/
  padding: 0 20px;
  color: rgba(0,0,0,0.70);
}
.side-column h2 {
  font-family: Unna, serif;
  font-size: 28px;
  font-weight: normal;
  margin: 0 0 5px 0;
  color: #3b1a0d;
}
.side-column p {
  margin: 0 0 40px 0;
  font-size: 14px;
  line-height: 1.5em;
  color: #361308;
}
.artiles-dropdown {
  margin-bottom: 30px;
}
.contributors .gravitar {
  margin: 0 10px 10px 0;
}
.gravitar {
  display: inline-block;
  margin: 5px;
  padding: 4px;
  height: 36px;
  width: 36px;
  background-color: #fff;
  border: 1px solid #aaa;
}
.gravitar img {
  width: 36px;
  height: 36px;
  border: 0;
  margin: 0;
  padding: 0;
}
.contributors {
  margin: 0 0 30px 0;
}
.categories {
  font-family: Unna, serif;
  padding: 0;
  margin: 0 0 30px 2px;
}
.categories li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.6em;
}
.categories a,
.categories a:visited {
  color: #bbd284;
  font-size: 18px;
  text-decoration: none;
  font-family: Unna, serif;
}
.categories a:hover,
.categories a:active {
  color: #c6dc9c;
  text-decoration: underline;
}
.bookmark {
  position: absolute;
  margin-left: -100px;
}
.bookmark .date {
  width: 76px;
  height: 43px;
  padding: 6px 14px 10px;
  margin-top: 10px;
  text-align: center;
  background: url("ribbon.png") no-repeat;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  text-shadow: 0 1px 1px #097503;
  line-height: 20px;
  font-weight: bold;
  color: #fff;
  margin-left: -16px;
}
.bookmark .author {
  margin: 5px;
  text-align: center;
  width: 60px;
  font-family: Unna, serif;
}
.bookmark .author p {
  text-align: left;
  margin: 0;
  padding: 0 0 0 10px;
  font-size: 12px;
  line-height: 1.2em;
}
.article {
  margin-top: 20px;
  min-height: 170px;
/*Put a clearfix hack on ace_editor so it doesn't have float issues*/
/*TODO: Fix in ace or snippet tool*/
}
.article h1 {
  padding-top: 5px;
  font-family: Unna, serif;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  line-height: 1.2em;
}
.article h1 a,
.article h1 a:visited {
  color: #000;
  text-decoration: none;
}
.article h1 a:hover,
.article h1 a:active {
  color: #222;
  text-decoration: underline;
}
.article h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  color: #222;
}
.article h3 {
  font-size: 20px;
  margin: 0;
  font-weight: normal;
  color: #111;
}
.article a,
.article a:visited {
  text-decoration: none;
  color: #579c01;
}
.article a:hover,
.article a:active {
  text-decoration: underline;
}
.article p {
  font-size: 16px;
  line-height: 23px;
}
.article p code {
  display: inline-block;
  background-color: #f9f9f9;
  padding: 0px 2px;
  margin: 0 -1px;
  -webkit-box-shadow: 0px 0px 2px #888;
  -moz-box-shadow: 0px 0px 2px #888;
  box-shadow: 0px 0px 2px #888;
  border-radius: 3px;
}
.article p img {
  float: left;
  margin: 0 5px 5px 0;
}
.article pre {
  padding: 8px !important;
  background-color: #222;
  color: #fff;
  -webkit-box-shadow: 0px 1px 6px 0px #000 inset;
  -moz-box-shadow: 0px 1px 6px 0px #000 inset;
  box-shadow: 0px 1px 6px 0px #000 inset;
  border-radius: 0px;
  border: 0 !important;
  overflow: hidden;
  line-height: 1.2em;
}
.article .snippet {
  margin: 1em 0;
}
.article .snippet pre {
  margin: 0;
}
.article .snippet .filename,
.article .snippet .toolbar {
  font-family: Ubuntu, sans-serif;
  font-size: 12px;
  background-color: #777;
  color: #eee;
}
.article .snippet .filename {
  padding: 2px 5px;
  float: right;
  margin: -10px -10px 0 4px;
  border-radius: 0 0 0 3px;
}
.article .snippet .filename:hover {
  text-decoration: none;
  color: #fff;
}
.article .snippet .toolbar {
  border-radius: 0 0 4px 4px;
  text-align: right;
  padding: 3px 10px;
}
.article .snippet .toolbar a,
.article .snippet .toolbar a:visited {
  text-decoration: none;
  color: #eee;
}
.article .snippet .toolbar a:hover,
.article .snippet .toolbar a:active {
  text-decoration: underline;
  color: #fff;
}
.article .drop-caps {
  font-family: Unna, serif;
  opacity: 0.8;
  display: block;
  float: left;
  line-height: 40px;
  font-size: 48px;
  padding-right: 10px;
}
.article .content {
  min-height: 150px;
}
.article .ace_editor:before,
.article .ace_editor:after {
  content: "";
  display: table;
}
.article .ace_editor:after {
  clear: both;
}
.article .snip-container {
  margin: 1em 0;
}
.article-links {
  text-align: right;
}
.article-links a {
  font-family: Unna, serif;
  font-size: 14px;
}
.article-divider {
  background: url("article-divider.png") no-repeat scroll 0 0;
  display: block;
  height: 23px;
  width: 616px;
  margin-top: 20px;
}
.searchbox {
  margin: 45px 0 6px 20px;
  display: inline-block;
  height: 19px;
  border: 0;
  padding: 4px 5px;
  font-size: 13px;
  line-height: 13px;
  width: 220px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 0px 2px rgba(0,0,0,0.50);
  -moz-box-shadow: 2px 0px 2px rgba(0,0,0,0.50);
  box-shadow: 2px 0px 2px rgba(0,0,0,0.50);
  font-family: Ubuntu, sans-serif;
}
.header .logo {
  float: left;
  margin: 0 -4px -24px -1px;
  position: relative;
}
.header .follow h2 {
  margin: 40px 0 0 0;
  padding: 0;
  font-family: Unna, serif;
}
.header .follow .button {
  background-image: url("buttons.png");
  width: 71px;
  height: 71px;
  margin: 7px 8px 0 0;
  display: inline-block;
}
.header .follow .rss {
  background-position: 0 0;
}
.header .follow .twitter {
  background-position: 71px 0;
}
.header .follow .rss:hover {
  background-position: 0 71px;
}
.header .follow .twitter:hover {
  background-position: 71px 71px;
}
.body {
  overflow: hidden;
}
.body .main-column {
  background: #fff;
  -webkit-box-shadow: 0 3px 5px #000;
  -moz-box-shadow: 0 3px 5px #000;
  box-shadow: 0 3px 5px #000;
  padding-bottom: 10000px;
  margin-bottom: -10000px;
}
.body .filter-dropdown {
  width: 230px;
  display: inline-block;
}
.body .dark {
  background-color: #000;
  background-color: rgba(0,0,0,0.36);
  color: #fff;
  width: 236px;
  padding: 20px;
  margin: 0 -20px;
  padding-bottom: 10000px;
  margin-bottom: -10000px;
}
.body .dark h2 {
  color: #fefefe;
}
.footer {
  font-family: Georgia, serif;
  background: url("footer-trans.png") bottom repeat-x;
  color: #fff;
  font-size: 11px;
  padding: 0 25px;
  font-family: arial;
  height: 148px;
  margin-bottom: 40px;
  width: 948px;
}
.footer .bold-text {
  font-size: 12px;
  font-weight: bold;
}
.footer p {
  margin: 0;
  line-height: 18px;
}
.footer a {
  color: #cae994;
  text-decoration: none;
}
.footer a:hover,
.footer a:active {
  color: #cae994;
  text-decoration: underline;
}
.footer .sponsor {
  margin-right: 280px;
  padding: 12px 0 0;
  width: 240px;
  display: inline-block;
}
.footer .sponsor img {
  margin: 5px 0;
}
.footer .copyright {
  display: inline-block;
  width: 420px;
  text-shadow: 0 1px 1px #48484a;
}
#dsq-footer {
  display: none;
}
