<!doctype html>
<html>
<head>
  <title>{article.title} - Nodebits</title>
  {render("head-links", this)}
</head>
<body>
  <div style="display:none;"><img src="top_bg_tile.png"/><img src="body_bg_tile.jpg"/></div>
  <div class="wrapper">
  {render("header", this)}
  <div class="section body">
    {render("sidebar", this)}
    <div class="main-column">
      {render("article", article)}
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          var disqus_shortname = 'nodebits'; // required: replace example with your forum shortname
          var disqus_developer = {{req.headers.host==="nodebits.org"?0:1}};
          var disqus_identifier = {{JSON.stringify(article._name)}};
          var disqus_url = {{JSON.stringify('http://'+req.headers.host+'/'+article._name)}};
          var disqus_title = {{JSON.stringify(article.title)}};
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
  </div>
  {render("footer", this)}
  </div>
  <script src="/script.js"></script>
</body>
</html>

