<!doctype html>
<html>
<head>
  <title>Nodebits - Bits of inspiration to keep the node spirit alive</title>
  <link href='http://fonts.googleapis.com/css?family=Unna|EB+Garamond|Ubuntu+Mono' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/style.css"/>
  <link rel="stylesheet" href="/obsidian.css"/>
  <script src="/script.js"></script>
</head>
<body>
  <div style="display:none;"><img src="top_bg_tile.png"/><img src="body_bg_tile.jpg"/></div>
  <div class="wrapper">
  {render("header", this)}
  <div class="section body">
    <div class="main-column">
      {render("article", article)}
    </div>
    {render("sidebar", this)}
  </div>
  {render("footer", this)}
  </div>
  <div id="fb-root"></div>
  <script>
    //facebook like button
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    
    //google+ button
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
    //twitter button
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>
</body>
</html>

