<!doctype html>
<html>
<head>
  <title>Nodebits - Bits of inspiration to keep the node spirit alive</title>
  <link href='http://fonts.googleapis.com/css?family=Unna|EB+Garamond|Ubuntu+Mono' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style.css"/>
</head>
<body>
  <div style="display:none;"><img src="top_bg_tile.png"/><img src="body_bg_tile.jpg"/></div>
  <div class="wrapper">
  @render("header", this)
  <div class="section body">
    <div class="main-column">
      @render("article", this)
    </div>
    <div class="side-column">
      <select class="filter-dropdown" title="Filter articles by node version">
        <option>Filter by version 0.6.x</option>
        <option>Filter by version 0.4.x</option>
        <option>Filter by version 0.2.x</option>
        <option>All versions</option>
      </select></p>
      <h2>About Nodebits.org</h2>
      <p>Fusce mattis lorem in lectus pharetra convallis. Sed eu odio elit, nec dictum dolor. Fusce sollicitudin augue in est facilisis mattis. Nulla porttitor pretium venenatis. Sed vehicula, tortor at blandit placerat, metus augue fermentum libero.</p>
      <div class="dark">
        <h2>Contributors</h2>
        <div class="contributors">
          <a href="#gravitar" class="gravitar" title="Show all articles by Tim Caswell"><img src="http://gravatar.com/avatar/c953ddd239707998340e1a6fbb3eeb46?s=36"/></a>
          <a href="#gravitar" class="gravitar" title="Show all articles by Matt Pardee"><img src="http://gravatar.com/avatar/c35489faf0667a209d76d72123622e81?s=36"/></a>
          <a href="#gravitar" class="gravitar" title="Show all articles by Bert Belder"><img src="http://gravatar.com/avatar/3dfe96442969b1e80dd0bfa8d749da97?s=36"/></a>
          <a href="#gravitar" class="gravitar" title="Show all articles by Zef Hemel"><img src="http://gravatar.com/avatar/666b62cc179681d869c5c60631074729?s=36"/></a>
          <a href="#gravitar" class="gravitar" title="Show all articles by Chrissy Welsh"><img src="http://gravatar.com/avatar/a88b9ae7c85477a702fc0fcd32dde3a4?s=36"/></a>
        </div>
        <h2>Categories</h2>
        <ul class="categories">
          <li><a href="#tag" title="Show articles tagged with 'Web Server'">Web Server</a></li>
          <li><a href="#tag" title="Show articles tagged with 'Real Time'">Real Time</a></li>
          <li><a href="#tag" title="Show articles tagged with 'Websockets'">Websockets</a></li>
          <li><a href="#tag" title="Show articles tagged with 'Databases'">Databases</a></li>
          <li><a href="#tag" title="Show articles tagged with 'Javascript'">JavaScript</a></li>
        </ul>
      </div>
    </div>
  </div>
  @render("footer", this)
  </div>
  <script src="script.js"></script>
</body>
</html>

