<!doctype html>
<html>
<head>
  <title>Nodebits - Bits of inspiration to keep the node spirit alive</title>
  <link href='http://fonts.googleapis.com/css?family=Unna|EB+Garamond|Ubuntu+Mono' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style.css"/>
</head>
<body>
  <div style="display:none;"><img src="top_bg_tile.png"/><img src="body_bg_tile.jpg"/></div>
  <div class="wrapper">
  @render("header", this)
  <div class="section body">
    <div class="main-column">
      @renderQuery("summary", "index", "articles")
    </div>
    <div class="side-column">
      <p><select class="filter-dropdown" title="Filter articles by node version">
        <option selected="selected" value="">All versions</option>
        @renderQuery("version-option", "index", "versions")
      </select></p>
      <h2>About Nodebits.org</h2>
      <p>Fusce mattis lorem in lectus pharetra convallis. Sed eu odio elit, nec dictum dolor. Fusce sollicitudin augue in est facilisis mattis. Nulla porttitor pretium venenatis. Sed vehicula, tortor at blandit placerat, metus augue fermentum libero.</p>
      <div class="dark">
        <h2>Contributors</h2>
        <div class="contributors">
          @renderQuery("contributor", "index", "authors")
        </div>
        <h2>Categories</h2>
        <ul class="categories">
          @renderQuery("tag", "index", "tags")
        </ul>
      </div>
    </div>
  </div>
  @render("footer", this)
  </div>
  <script src="script.js"></script>
</body>
</html>

