<!doctype html>
<html>
<head>
  <title>Nodebits - Bits of inspiration to keep the node spirit alive</title>
  <link href='http://fonts.googleapis.com/css?family=Unna|EB+Garamond|Ubuntu+Mono' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/style.css"/>
  <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed.xml" />
  <link href='http://fonts.googleapis.com/css?family=Unna' rel='stylesheet' type='text/css'/>
</head>
<body>
  <div style="display:none;"><img src="/top_bg_tile.png"/><img src="/body_bg_tile.jpg"/></div>
  <div class="wrapper">
  {render("header", this)}
  <div class="section body">
    <div class="main-column">
      {#blockIf(!articles.length)}
        <p>Sorry, Your node version query has filtered out all the articles on this page.  Try one of the following.</p>
        <ul>
          <li><a href="{req.uri.pathname}?node_version=">Show All Versions</a></li>
          {#loopQuery("index#versions")}
            {#blockIf(req.query.node_version!==version)}
              <li><a href="{req.uri.pathname}?node_version={version}">Filter by version {version}.x</a></li>
            {/blockIf}
          {/loopQuery}
        </ul>
      {/blockIf}
      {#loopQuery(articles)}
        <section class="article">
          <div class="bookmark">
            <div class="date">{date}</div>
            {#blockQuery(author)}
              <div class="author">
                <span class="gravitar"><img src="http://gravatar.com/avatar/{emailHash}?s=36"/></span>
                <p><a href="{author}" title="Show all articles by {name}">{name}</a></p>
              </div>
            {/blockQuery}
          </div>
          <div class="content">
            <h1><a href="/{_name}">{title}</a></h1>
            {markdownTruncated(attachment)}
            <div class="artile-actions">
                <div class="social-buttons">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://{req.headers.host}/{_name}">Tweet</a>
                    <div class="g-plusone" data-size="tall" data-annotation="none" data-href="http://{req.headers.host}/{_name}"></div>
                    <div class="fb-like" data-href="http://{req.headers.host}/{_name}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                </div>
                <div class="article-links">
                    <a href="/{_name}">Read More...</a>
                </div>
            </div>
          </div>
          <div class="article-divider"></div>
        </section>
      {/loopQuery}
    </div>
    {render("sidebar", this)}
  </div>
  {render("footer", this)}
  </div>
  <script src="/script.js"></script>
  <div id="fb-root"></div>
  <script>
    //facebook like button
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    
    //google+ button
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
    //twitter button
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>
</body>
</html>

