<div class="side-column">
  <p><select class="filter-dropdown" title="Filter articles by node version">
    <option value="">All versions</option>
    {#loopQuery("index#versions")}
      <option value="{version}"{req.query.node_version==version?" selected":""}>Filter by version {version}.x</option>
    {/loopQuery}
  </select></p>
  <h2>About Nodebits.org</h2>
  <p>NodeBits is a site dedicated to keeping the NodeJS spirit of innovation and creativity alive.  This is done by providing a constant stream of ideas and sample projects.  Articles here are designed to help you, the developer, to feel confident and enjoy programming with node.</p>
  <div class="dark">
    <h2>Contributors</h2>
    <div class="contributors">
      {#loopQuery("index#authors")}
        <a href="/authors/{_name}" class="gravitar" title="Show all articles by {name}"><img src="http://gravatar.com/avatar/{emailHash}?s=36"/></a>
      {/loopQuery}
    </div>
    <h2>Categories</h2>
    <ul class="categories">
      {#loopQuery("index#tags")}
        <li><a href="/tags/{tag}" title="Show articles tagged with '{tag}'">{tag}</a></li>
      {/loopQuery}
    </ul>
  </div>
</div>

